.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a86f9d;
  width: 100%;
  border: 1px solid;
  color: black;
}

.linkContainer ul {
  list-style: none;
  align-items: right;
}

.linkContainer li a {
}

/* For PC  */
@media only screen and (min-width: 600px) {
  .linkContainer {
    align-items: center;
    padding: 0% 2% 1% 0%;
  }
}
