.headerBarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0% 0% 0% 0%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.title {
  width: 70%;
}

.selfie {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.selfie img {
  border-radius: 50%;
  border: 2px solid;
}

.contacts {
  width: 100%;
}

/* For PC  */
@media only screen and (min-width: 600px) {
  .headerBarContainer {
    justify-content: right;
  }

  .title {
    width: 85%;
    font-size: x-large;
    align-items: left;
  }
  .selfie {
    width: 10%;
  }

  .contacts {
    width: 30%;
    margin: 0% 2% 1% 0%;
  }
}
