.headerBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0% 2% 0%;
}

.selfie {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.selfie img {
  border-radius: 50%;
  border: 2px solid;
}

/* For PC  */
@media only screen and (min-width: 600px) {
  .selfie {
    width: 10%;
  }
}
