.navigation {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  padding: 1%;
}

.navigation li {
  display: flex;
  flex-direction: row;
}

.navigation li button {
  padding: 5% 20% 5% 20%;
}

.navigation li button .navLink {
  font-size: x-large;
  text-decoration: none;
}
