.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsAndImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.imageOrVideo {
  width: 80%;
}

/* For PC  */
@media only screen and (min-width: 600px) {
  .detailsAndImage {
    display: flex;
    flex-direction: row-reverse;
  }

  .detailsAndImage .imageOrVideo {
    width: 30%;
    justify-content: center;
  }
}
