.overallAppSpace {
  width: 100%;
  background-color: #dce0fc;
  background-image: url(./images/coding-svgrepo-com.svg);
  background-repeat: repeat;
  background-size: 60px 60px;
}

/* .App {
  margin-top: 5vh;
  width: min(75vw, 400px);
  min-height: min(75vh, 400px);
  text-align: center;
  justify-content: center;
} */
