body {
  width: 100%;
  background-color: #dce0fc;
  background-image: url(./images/coding-svgrepo-com.svg);
  background-repeat: repeat;
  background-size: 80px 80px;
}

/* For PC  */
@media only screen and (min-width: 600px) {
  body {
    background-image: url(./images/coding-svgrepo-com-fullscreen.svg);
    background-size: 200px 200px;
  }
}
